/* ======================================================= THEMES ======================================================= */
#dark {
    background-color:red;
}
/* ======================================================= HEADER ======================================================= */
header {
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.search,
.profile {
    display:flex;
    align-items:center;
    justify-content:center;
}
.search img {
    width:25px;
    height:25px;
    margin-right:5px;
}
.search input {
    border:0;
    width:250px;
    border-radius:1px;
    font-size:15px;
    background-color:transparent;
    border-bottom:2px solid var(--black-color);
}
.profile--info {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#change-theme-light,
#change-theme-dark {
    cursor:pointer;
    width:30px;
    height:30px;
    margin-right:26px;
    box-shadow:1px 4px 5px #0000001a;
}
#change-theme-dark {
    display:none;
}
.profile--info--avatar {
    width:45px;
    height:45px;
    margin-right:16px;
    border-radius:25px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url('/public/images/avatar.webp');
    background-color:var(--white-color);
    border:2px solid var(--white-color);
    box-shadow:1px 4px 5px #0000001a;
}
.profile--infos {
    display:flex;
}
.profile--infos a {
    font-size:16px;
    font-weight:400;
}
.profile--infos label {
    font-size:14px;
    font-weight:400;
    color:var(--text-color);
}
.profile--infos label img {
    margin-left:2px;
}
/* ======================================================== MAIN ======================================================== */
main {
    display:flex;
    justify-content:center;
    height:calc(100vh - 140px);
}
.widget-title {
    display:flex;
    align-items:center;
    margin-top:50px;
}
.widget-title h1 {
    margin:0;
    font-size:40px;
    font-weight:700;
    color:var(--black-color);
}
.widget-title img {
    margin-left:12px;
}
.widget-body {
    width:100%;
    height:100vh;
    padding:26px;
    margin-top:44px;
    border-radius:10px;
    background-color:#FFF;
    box-shadow:0px 0px 30px #1414141a;
}
/* ======================================================= ASIDE ======================================================== */

/* ======================================================= FOOTER ======================================================= */
footer {
    display:flex;
    align-items:center;
    justify-content:center;
}
footer .container {
    justify-content:center;
}
.footer-copy {
    display:flex;
    align-items:center;
}
.footer-copy p {
    font-size:16px;
    font-weight:400;
    color:var(--text-color);
}
.footer-copy a {
    font-size:16px;
    font-weight:400;
    margin-left:6px;
    color:var(--black-color);
}
/* ===================================================== RESPONSIVE ===================================================== */
