/* ======================================================= THEMES ======================================================= */
.dark-color {
    color:var(--white-color);
    background-color:#2F3136;
}
.dark-color label {
    color:var(--white-color);
}
.black-color {
    background-color:#202225;
}
/* ======================================================= HEADER ======================================================= */
header {
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.search,
.profile {
    display:flex;
    align-items:center;
    justify-content:center;
}
.search img {
    cursor:pointer;
    width:25px;
    height:25px;
    margin-right:5px;
}
.search .open-menu img {
    width:35px;
    height:22px;
    margin-right:26px;
}
.search input {
    border:0;
    width:250px;
    border-radius:1px;
    font-size:15px;
    background-color:transparent;
    border-bottom:2px solid var(--black-color);
}
.profile--info {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#change-theme-light,
#change-theme-dark {
    cursor:pointer;
    width:30px;
    height:30px;
    margin-right:26px;
    box-shadow:1px 4px 5px #0000001a;
}
#change-theme-dark {
    display:none;
}
.profile--info--avatar {
    width:45px;
    height:45px;
    margin-right:16px;
    border-radius:25px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url('/public/images/avatar.webp');
    background-color:var(--white-color);
    border:2px solid var(--white-color);
    box-shadow:1px 4px 5px #0000001a;
}
.profile--infos {
    display:flex;
}
.profile--infos a {
    font-size:16px;
    font-weight:400;
}
.profile--infos label {
    font-size:14px;
    font-weight:400;
    color:var(--text-color);
}
.profile--infos label img {
    margin-left:2px;
}
/* ======================================================== MAIN ======================================================== */
main {
    display:flex;
    justify-content:center;
}
.main-body {
    height:670px;
    display:flex;
}
.widget-title {
    display:flex;
    align-items:center;
    margin-top:50px;
}
.widget-title h1 {
    margin:0;
    font-size:40px;
    font-weight:700;
    color:var(--black-color);
}
.widget-title img {
    margin-left:12px;
    animation:hand 1.5s infinite;
}
@keyframes hand {
    0%{transform:rotateX(0deg);}
    50%{transform:rotate(25deg);}
    100%{transform:rotate(0deg);}
}
.widget-body {
    width:100%;
    height:100vh;
    padding:26px;
    margin-top:44px;
    border-radius:10px;
    background-color:var(--white-color);
    box-shadow:0px 0px 30px #1414141a;
}
/* ======================================================= ASIDE ======================================================== */
#menu-window {
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    background-color:#14141433;
}
aside {
    width:0px;
    height:100vh;
    display:flex;
    position:fixed;
    justify-content:center;
    background-color:var(--white-color);
    box-shadow:0px 10px 10px #1414141a;
}
#menu-area {
    width:180px;
}
#menu-area .logo {
    display:flex;
    justify-content:center;
    margin-top:26px;
    margin-bottom:60px;
}
#menu-area .close-menu {
    cursor:pointer;
    right:10px;
    font-size:24px;
    font-weight:bold;
    color:#00CDAC;
    position:absolute;
}
#menu-area nav ul li {
    cursor:pointer;
    display:flex;
    align-items:center;
    margin-bottom:30px;
    padding-left:10px;
}
#menu-area nav ul li:hover {
    color:#00CDAC;
    border-left:4px solid #00CDAC;
}
#menu-area nav ul a {
    font-size:17px;
    font-weight:400;
}
#menu-area nav ul a img {
    margin-right:10px;
}
#menu-area .menu-bar {
    width:100%;
    height:1px;
    margin-top:60px;
    margin-bottom:60px;
    background-color:#DDD;
}
/* ======================================================= FOOTER ======================================================= */
footer {
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
}
footer .container {
    justify-content:center;
}
.footer-copy {
    display:flex;
    align-items:center;
}
.footer-copy p {
    margin:0;
    font-size:16px;
    font-weight:400;
    color:var(--text-color);
}
.footer-copy a {
    font-size:16px;
    font-weight:400;
    margin-left:6px;
    color:var(--black-color);
}
.footer-copy a:hover {
    text-decoration:underline;
}
/* ===================================================== RESPONSIVE ===================================================== */
@media (max-width:1208px) {
    .container {
        padding-left:10px;
        padding-right:10px;
    }
}
@media (max-width:610px) {
    header .container {
        flex-direction:column-reverse;
    }
    .search .open-menu img {
        width:28px;
        height:20px;
        margin-right:10px;
    }
    .search input {
        width:228px;
    }
    .profile {
        margin-top:10px;
        margin-bottom:10px;
    }
    .widget-title {
        justify-content:center;
    }
    .footer-copy {
        margin-top:26px;
        flex-direction:column;
    }
}
@media (max-width:400px) {
    .widget-title h1 {
        font-size:30px;
    }
    .footer-copy p {
        font-size:14px;
        margin-top:26px;
        max-width:310px;
        text-align:center;
    }
    .footer-copy a {
        font-size:14px;
    }
}