<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Planning</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link href="/public/assets/style.css" rel="stylesheet" type="text/css"> <!-- CSS painel -->
    <link href="/public/assets/main.css" rel="stylesheet" type="text/css"> <!-- Main CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">  <!-- Font -->
</head>
<body>
<!-- ======================================================= HEADER ======================================================= -->
    <header>
        <div class="container">
            <div class="search">
                <label for="search"><img src="/public/images/search.webp" alt="Pesquise aqui"></label>
                <form method="GET">
                    <input type="search" id="search" placeholder="Pesquise aqui...">
                </form>
            </div>
            <div class="profile">
                <div id="change-theme-light"><img src="/public/images/change-theme-light.webp" alt="Alterar o tema"></div>
                <div id="change-theme-dark"><img src="/public/images/change-theme-dark.webp" alt="Alterar o tema"></div>
                <div class="profile--info">
                    <div class="profile--info--avatar"></div>
                    <div class="profile--infos column">
                        <a href="#">Gabriel de Jesus</a>
                        <label>Programador️ <img src="/public/images/coffe.webp" alt="café"></label>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- ======================================================== MAIN ======================================================== -->
    <main>
        <div class="container column">
            <div class="widget-title">
                <h1>Olá, Campeão!</h1>
                <img src="/public/images/hand.webp" alt="Olá">
            </div>
            <div class="widget-body">
                a
            </div>
        </div>
    </main>
<!-- ======================================================= ASIDE ======================================================== -->
<!-- ======================================================= FOOTER ======================================================= -->
</body>
</html>